node_modules
.git
.gitignore
.idea
.vscode
dist

.env
.env.*
!.env.example
!.env.prod.example

logs
dbdata
dev_data
prod_data
loki_data
grafana_data
prometheus_data

docker-compose.yml
docker-compose.dev.yml
Dockerfile
.dockerignore
README.md
Makefile
