NODE_ENV=prod

APP_VERSION="v1.0.0"

APP_NAME='Test Fastify Api'
APP_VERSION=v1.0.0
APP_PORT=3000

LOGGER_LEVEL=info

PROJECT_NAME=fastify

PGSQL_VERSION=postgres:16
DB_NAME=fastify_db
DB_USER=fastify_user
DB_PASS=change_me

DATABASE_URL="postgres://fastify_user:change_me@db:5432/fastify_db?schema=public"

NGINX_PORT=8080

ADMINER_VERSION=adminer:5.4.2
ADMINER_PORT=795

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASS=change_me

GRAFANA_PORT=3001
GRAFANA_USER=admin
GRAFANA_PASSWORD=change_me

LOKI_HOST=http://loki:3100
